<footer>
<div class="row ">
  <div class="col">
    <h2 class="fw-bold text-primary">MSN CA Office</h2>
    <p class=" p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
  <div class="col footcol2 ">
    <h2 class="fw-bold text-white">Contact Info</h2>
    <p> <i class="bi bi-pin-map-fill text-white"></i>&nbsp; &nbsp; &nbsp; Natu baburao park <br> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Ongole</p>
    <p><i class="bi bi-telephone-fill text-white"> &nbsp; &nbsp; &nbsp; </i> 9848675994</p>
    <p><i class="bi bi-envelope-fill text-white"></i> &nbsp; &nbsp; &nbsp;tvasubabu@gmail.com</p>

  </div>
  <div class="col">
    <h2 class="fw-bold text-white">Services</h2>
<ul>
  <li>Accounting Services</li>
  <li>Tax Services</li>
  <li>Financial Advisory</li>
</ul>
  </div>
  <div class="col">
    <h2 class="fw-bold text-white">Get in touch</h2>
    <i class="bi bi-facebook text-primary" style="font-size: 1.5rem; margin:10px"></i>
    <i class="bi bi-twitter-x text-info" style="font-size: 1.5rem; margin:10px"></i>
    <i class="bi bi-linkedin text-primary" style="font-size: 1.5rem; margin:10px"></i>
    <i class="bi bi-envelope-fill text-success" style="font-size: 1.5rem; margin:10px"></i>

  </div>
  <hr>
  <div class="row">
    <div class="col"><p> copyright@2023 Chartered accountant</p></div>
    <div class="col"><p>Powered by Chartered accountant</p></div>

  </div>
</div>

</footer>

