<div class="container-fluid services">
  <div class="container p-5">
    <h5 class="text-primary p-2">SERVICES</h5>
    <h1 class="heading p-2">What I Do</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
    dummy</p>
    <p>Lorem Ipsum has been the industry's</p>
  </div>
  <div class="container">
    <div class="row p-5">
      <div class="col">
       <img src="../assets/images/service2.jpg" alt="">
      </div>
      <div class="col coltext">
      <h5 class="text-primary p-2">01.</h5>
        <h1 class="fw-bold" >Accounting Services</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        book. It has survived not only five centuries, but also the leap into electronic typesetting,
        unchanged. It was popularised in the 1960s with the release of Letraset sheets  and more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      </div>
    </div>
    <div class="row p-5">
      <div class="col coltext">
<h5 class="text-primary p-2">02.</h5>
<h1 class="fw-bold">Tax Services</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
  dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
  book. It has survived not only five centuries, but also the leap into electronic typesetting,
  unchanged. It was popularised in the 1960s with the release of Letraset sheets and more
  recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="col">
        <img src="../assets/images/service1.jpg" alt="">
      </div>
    </div>
    <div class="row p-5">
      <div class="col">
        <img src="../assets/images/service3.jpg" alt="">
      </div>
      <div class="col coltext">
        <h5 class="text-primary p-2">03.</h5>
        <h1 class="fw-bold">Financial Advisory</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          book. It has survived not only five centuries, but also the leap into electronic typesetting,
          unchanged. It was popularised in the 1960s with the release of Letraset sheets and more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>

  </div>
  <hr>
</div>

