<div class="container-fluid mainDiv">

    <img src="../assets/images/home.jpg" alt="home-image">

<div class="container subDiv">
  <div class="row">
    <div class="col col-lg-6 col-md-8 ">
      <h2 class="text-white">MSN CA OFFICE</h2>
      <h4 class="text-white"> Pactical Financial Advice You Can Count On </h4>
      <p class="text-white pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. </p>

      <button class="btn btn-primary mt-3 "> GET A Free QUOTE</button>
      <div class="row pt-3">
        <div class="col text-white">
          <p> <i class="bi bi-check-circle text-white"></i> Trusted</p>
        </div>
        <div class="col text-white">
          <p> <i class="bi bi-check-circle text-white"></i> Experienced</p>
        </div>
        <div class="col text-white">
          <p> <i class="bi bi-check-circle text-white"></i> Professional</p>
        </div>

      </div>
    </div>
  </div>

</div>

</div>
