
<div class="container-fluid chooseme">

<div class="container">
    <div class="container p-5">
      <h5 class="text-primary p-2">WHY CHOOSE ME</h5>
      <h1 class="heading p-2">Accurate Record Keeping</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
        dummy</p>
      <p>Lorem Ipsum has been the industry's</p>
</div>
<div class="row">
  <div class="col m-3">
    <i class="bi bi-calendar2-check" style="font-size: 2rem; color: rgb(0, 166, 255)"></i>
    <h2 class="fw-bold">Always on time</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
    dummy</p>
  </div>
  <div class="col m-3">
    <i class="bi bi-person-workspace" style="font-size: 2rem; color: rgb(0, 166, 255)"></i>
    <h2 class="fw-bold">Hard working</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
      dummy</p>
  </div>
  <div class="col m-3">
    <i class="bi bi-clock" style="font-size: 2rem; color: rgb(0, 166, 255)"></i>
    <h2 class="fw-bold">24/7 Availability</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
      dummy</p>
  </div>
</div>
</div>
